
body{
    align-items: flex-start;
    background-color: #ffffcc;
    font-family: Arial, sans-serif;
    color: #333;
}

.first-block {
    font-size: 33px;
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    border-bottom: 16px solid rgb(99, 24, 24);
}


.green{
    padding-left: 10px;
    background-color: green;
    color: #fff;

}

.list{
    color: red;
}

.table{
    background-color: rgb(139, 136, 136);
    border: 1px;
}

.img{
    background-color: white;
    border-style: dotted;
    height: 85px;
    width: 200px;
}
